---
import { SecondaryButton } from "./SecondaryButton";
---

<div class="relative bg-white dark:bg-gray-900 bg-banner bg-[50%] bg-cover w-full">
  <!-- Backdrop -->
  <div class="absolute inset-0 bg-black bg-opacity-50 z-0"></div>
  
  <!-- Content -->
  <div class="relative py-24 mx-auto max-w-screen-xl text-left lg:py-44 z-10 px-4 ">
    <h1 class="mb-4 text-4xl tracking-tight font-medium leading-none text-gray-900 md:text-3xl lg:text-6xl dark:text-white">
      Partner in Transformation
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      Transformasi bisnis untuk sukses di era digital
    </p>
    <SecondaryButton client:load/>
  </div>

</div>

<script>
const element = document.getElementById("demo")

if (element) {
  element.onclick = function() {
    myFunction();
  };
}

function myFunction() {
  console.log('test')
}
</script>

